.site-header-wrapper {
  background-image: linear-gradient(
    -20deg,
    #ddd6f3 0%,
    #faaca8 100%,
    #faaca8 100%
  );
  min-height: 10vh;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.optionButtons {
  display: flex;
  list-style: none;
  margin: 0;
}

.optionButtons li {
  margin: 30px 30px 0 30px;
  padding: 30px 10px 30px 10px;
  color: #f3f9f1;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
}

.optionButtons li.selected {
  background-image: linear-gradient(to top, #9795f0 0%, #f8aeac 100%);
}

.userInfo div {
  margin: 50px 30px 0 30px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #f3f9f1;
  color: #f3f9f1;
  font-weight: 500;
  cursor: pointer;
}
