.toolbar-wrapper {
  display: flex;
  justify-content: center;
}

.button {
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.play-button .playable {
  border: 1px solid pink;
  cursor: pointer;
}

.play-button {
  border: 1px solid lightgray;
  color: lightgray;
  cursor: default;
}
